
  <thead>
    <tr>
      <th>First Shift SD</th>
      <th>First Shift ED</th>
      <th>Second Shift SD</th>
      <th>Second Shift ED</th>
      <th>Third Shift SD</th>
      <th>Third Shift ED</th>
    </tr>
  </thead>
  <tbody>   
    <tr *ngFor="let shiftRequirement of employeeShiftRequiremtns">
        <td>{{shiftRequirement.firstShiftStartDate | date: 'yyyy-mm-dd'}}</td>
        <td>{{shiftRequirement.firstShiftEndDate | date: 'yyyy-mm-dd'}}</td>
        <td>{{shiftRequirement.secondShiftStartDate | date: 'yyyy-mm-dd'}}</td>
        <td>{{shiftRequirement.secondShiftEndDate | date: 'yyyy-mm-dd'}}</td>
        <td>{{shiftRequirement.thirdShiftStartDate | date: 'yyyy-mm-dd'}}</td>
        <td>{{shiftRequirement.thirdShiftEndDate | date: 'yyyy-mm-dd'}}</td>
      </tr>
      
  </tbody>